#output {
  display: none;
  padding-top: 30px;
  text-align: center;
}

img {
  width: 400px;
  height: auto;
}

.center {
  text-align: center;
}

form {
  float: left;
  padding-right: 80px;
  padding-top: 30px;
}

#box {
  background-color: white;
  border-style: solid;
}

body {
  padding-top: 30px;
  background: rgb(40, 82, 82);
  color: rgb(216, 212, 212);
}
